.App {
  text-align: center;
  height: 400vh;
  background-color: rgb(22, 22, 22);
}

html, body{
  scroll-behavior: smooth
}

.scroll-animation{
  position: sticky;
  top: 0;
}

.apple-image{
  width: 100%;
}

.scroll-watcher{
  height: 10px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: greenyellow;
  width: 100%;
  scale: 0 1;
  transform-origin: left;

  animation: scroll-watcher linear;
  animation-timeline: scroll();
}

@keyframes scroll-watcher {
  to { scale: 1 1;}
}